// All the variables are listed here.
// Then this file will be imported into the required file

// **************************************************************************************

//Colors
$primary: #ff4a02;
$primary-hover: #f17544;
$secondary: #f8f8f8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;

// Transition
$smooth: all 0.3s ease-in-out;
