@import "./variables";
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

body {
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}

nav li:last-child a {
    background-color: $primary;
    &:hover {
        background-color: $primary-hover;
    }
}

nav li a {
    transition: $smooth;
    &:hover {
        color: $primary;
    }
}

section.hero {
    background-color: $secondary;
}

.size {
    background-color: $secondary;
}

.add-to-cart {
    &:hover {
        background-color: $primary;
        color: $pure;
        border-color: $primary;
    }
    transition: $smooth;
    border: 2px solid $primary;
    color: $primary;
}

.btn-primary {
    &:hover {
        background-color: $primary-hover;
    }
    background-color: $primary;
    transition: $smooth;
}

section.cart {
    background-color: $secondary;
    .amount {
        color: $primary;
    }
}

section.login {
    background-color: $secondary;
    min-height: calc(100vh - 86px);
    a {
        color: $primary;
        &:hover {
            color: $primary-hover;
        }
    }
}

.noty_theme__mint {
    border-radius: 50px !important;
    padding-left: 8px !important;
}

a.link {
    color: $primary;
}

section.status {
    background-color: $secondary;
    min-height: calc(100vh - 86px);
}

.status-box {
    padding: 60px 0 0;
}

//Dots on singleOrder.ejs file
.status-box ul li span {
    position: relative;
    padding-left: 20px;
}

.status-box ul li span::after {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    background-color: $dark;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 1px 10px $secondary;
}

// Icons on singleOrder.ejs file
.status-box ul {
    margin-left: 84px;
}

.status-box ul li {
    position: relative;
}

.status-box ul li::before {
    content: "";
    position: absolute;
    top: 0;
    left: -6px;
    width: 2px;
    height: 100%;
    background-color: $dark;
    margin-top: 10px;
}

// Last dot
.status-box ul li:nth-child(5) span::after {
    box-shadow: 0 20px 1px 20px $secondary;
}

.status-box ul li span::before {
    font-family: "Line Awesome Free";
    font-size: 46px;
    font-weight: 600;
    position: absolute;
    left: -90px;
    top: 50%;
    transform: translateY(-50%);
    color: inherit;
}

.status-box ul li:nth-child(1) span::before {
    content: "\f46c";
}

.status-box ul li:nth-child(2) span::before {
    content: "\f560";
}

.status-box ul li:nth-child(3) span::before {
    content: "\f818";
}

.status-box ul li:nth-child(4) span::before {
    content: "\f21c";
}

.status-box ul li:nth-child(5) span::before {
    content: "\f582";
}

// Graying dots and lines and text for finished thing
// Lines and icon
.status-box ul li.step-completed::before {
    background-color: $gray;
}

// Dots
.status-box ul li.step-completed span::after {
    background-color: $gray;
}

// Text
.status-box ul li.step-completed span {
    color: $gray;
}

// Showing current status on singleOrder.ejs file

// Text
.status-box ul li.current span {
    color: $primary;
}

// Lines
.status-box ul li.current::before {
    background-color: $primary;
}

// Dots
.status-box ul li.current span::after {
    background-color: $primary;
}

//Aligning time on the RHS on users order page
.status-box ul li small {
    float: right;
    font-size: 14px;
    margin-top: 8px;
}

@media (max-width: 1060px) {
    .container {
        max-width: 90%;
    }
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

@media (max-width: 768px) {
    .status-box ul li span::before {
        font-size: 34px;
    }
}

// Error page css
#error-page {
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
#error-page .content {
    max-width: 600px;
    text-align: center;
}
.content h2.header {
    font-size: 18vw;
    line-height: 1em;
    position: relative;
}
.content h2.header:after {
    position: absolute;
    content: attr(data-text);
    top: 0;
    left: 0;
    right: 0;
    background: -webkit-repeating-linear-gradient(
        -45deg,
        #71b7e6,
        #69a6ce,
        #b98acc,
        #ee8176,
        #b98acc,
        #69a6ce,
        #9b59b6
    );
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
    animation: animate 10s ease-in-out infinite;
}
@keyframes animate {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 100% 0;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}
.content h4 {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #000;
    font-size: 2em;
    max-width: 600px;
    position: relative;
}
.content h4:after {
    position: absolute;
    content: attr(data-text);
    top: 0;
    left: 0;
    right: 0;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content p {
    font-size: 1.2em;
    color: #0d0d0d;
}
.content .btns {
    margin: 25px 0;
    display: inline-flex;
}
.content .btns a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    border: 2px solid #69a6ce;
    color: #69a6ce;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 25px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.content .btns a:hover {
    background: #69a6ce;
    color: #fff;
}
